{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">   
    <title>{% block titulo %}Martinez Transporte{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{{ request.user.profile.picture.url }}">
                        {% if request.user.profile.picture %}
                            <img src="{{ request.user.profile.picture.url }}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% else%}
                            <img src="{% static 'img/slide-8.jpg' %}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% endif %}
        </a>

        <p></p>
                        {% if request.user.profile %}
        <a href="{% url "logout_views" %}" class="btn btn-default">Cerrar Sesion</a>
                        {% else%}
        <a href="{% url "login_views" %}" class="btn btn-default">Iniciar Sesion</a>
                        {% endif %}
    </div>
   <div class="brand">Martinez Transporte</div>
    <div class="address-bar">Jose Manuel Estrada 247| San Jose de Metan - Salta - Argentina | (03876) 420181</div>
                        <div class="col-md-12">
                          <div class="content-panel">

    <h4><i class="fa fa-angle-right"></i>Parametros para el calculo de costos de envio:</h4>
    <form method="POST" action="{% url "precios" %}">
        {% csrf_token %}
                              {% if precios %}
                              {% for precio in precios %}

        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>las cargas que pesen hasta...:</h5>
            <input class="form-control" type="text" placeholder="las cargas que pesen hasta..." name="limite_1" id="limite_1" value='{{precio.limite_1}}'/>
        </div>        
        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>pagaran por km...</h5>
            <input class="form-control" type="text" placeholder="pagaran por km..." name="precio_x_km_1" id="precio_x_km_1" value='{{precio.precio_x_km_1}}'/>
        </div>
        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>las cargas que pesen hasta...</h5>
            <input class="form-control" type="text" placeholder="Las cargas que pesen hasta..." name="limite_2" id="limite_2" value='{{precio.limite_2}}'/>
        </div>
        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>pagaran por km...</h5>
            <input class="form-control" type="text" placeholder="pagaran por km..." name="precio_x_km_2" id="precio_x_km_2" value='{{precio.precio_x_km_2}}'/>
        </div>
        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>las cargas que pesen hasta...</h5>
            <input class="form-control" type="text" placeholder="Las cargas que pesen hasta..." name="limite_3" id="limite_3" value='{{precio.limite_3}}'/>
        </div>
        <div class="form-group">
            <h5><i class="fa fa-angle-right"></i>pagaran por km...</h5>
            <input class="form-control" type="text" placeholder="pagaran por km..." name="precio_x_km_3" id="precio_x_km_3" value='{{precio.precio_x_km_3}}'/>
        </div>
                              {% endfor %}
                              {% endif %}
        <button class="btn btn-primary btn-block mt-5" type="submit">Guardar</button>
    </form>

    </div>

    </div> 
                        <div class="col-md-12">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i>Registrados en el Sistema</h4>
                              <hr>
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Usuario</th>
                                      <th>Nombre</th>
                                      <th>Email</th>
                                      <th>Telefono</th>
                                      <th>Fecha de Creacion</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% if perfiles %}
                                  {% for perfil in perfiles %}
                                  <tr>
                                      <td>{{perfil.user.username}}</td>
                                      <td>{{perfil.user.first_name}}</td>
                                      <td>{{perfil.user.email}}</td>
                                      <td>{{perfil.phone_number}}</td>
                                      <td>{{perfil.created}}</td>
                                  </tr>
                                  {% endfor %}
                                  {% endif %}
                                  
                                  </tbody>
                              </table>
                          </div>
                      </div> 
                        <div class="col-md-12">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i>Solicitudes de Contacto</h4>
                              <hr>
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Usuario</th>
                                      <th>Email</th>
                                      <th>Tipo de Carga</th>
                                      <th>Lugar de Origen</th>
                                      <th>Lugar de Destino</th>
                                      <th>Volumen de la Carga</th>
                                      <th>Comentario</th>
                                      <th>Fecha de Creacion</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% if contactos %}
                                  {% for contacto in contactos %}

                                  <tr>
                                      <td>{{contacto.nombre}}</td>
                                      <td>{{contacto.email}}</td>
                                      <td>{{contacto.tipo_de_carga}}</td>
                                      <td>{{contacto.lugar_de_origen}}</td>
                                      <td>{{contacto.lugar_de_destino}}</td>
                                      <td>{{contacto.volumen_de_la_carga}}</td>
                                      <td>{{contacto.comentario}}</td>
                                      <td>{{contacto.timestamp}}</td>
                                  </tr>
                                  {% endfor %}
                                  {% endif %}
                                  
                                  </tbody>
                              </table>
                          </div>
                      </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <small><p>Designed by a turtle ;Ô;</p></small>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>