{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">   
    <title>{% block titulo %}Martinez Transporte{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{{ request.user.profile.picture.url }}">
                        {% if request.user.profile.picture %}
                            <img src="{{ request.user.profile.picture.url }}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% else%}
                            <img src="{% static 'img/slide-8.jpg' %}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% endif %}
        </a>
        <p></p>
                        {% if request.user.profile %}
        <a href="{% url "logout_views" %}" class="btn btn-default">Cerrar Sesion</a>
                        {% else%}
        <a href="{% url "login_views" %}" class="btn btn-default">Iniciar Sesion</a>
                        {% endif %}
    </div>
   <div class="brand">Martinez Transporte</div>
    <div class="address-bar">Jose Manuel Estrada 247| San Jose de Metan - Salta - Argentina | (03876) 420181</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Martinez Transporte</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href='{% url "inicio" %}'>Inicio</a>
                    </li>
                    <li>
                        <a href='{% url "sobre" %}'>Sobre Nosotros</a>
                    </li>
                    <li>
                        <a href='{% url "destinos" %}'>Destinos</a>
                    </li>
                    <li>
                        <a href='{% url "contacto" %}'>Contacto</a>
                    </li>
                    <li>
                        <a href='{% url "calcular_costos" %}'>Calcular Costos</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
{% block contenido %}{% endblock %}    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <small><p>Designed by a turtle ;Ô;</p></small>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>