{% extends 'raiz.html' %}
{% load static %}
{% block titulo %}calculadora{% endblock %}
{% block contenido %}


    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url 'signup_views' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="passwd" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password confirmation" name="passwd_confirmation" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="First name" name="first_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Last name" name="last_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email address" name="email" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Phone number" name="phone_number" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="file" placeholder="picture" name="picture" required="true" />
        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit">Registrarse</button>

    </form>


{% endblock %}